In [2]:
# import de numpy et pandas pour faire de l'ETL
import numpy as np
import pandas as pd

In [3]:
# Chargement du dataframe
df = pd.read_csv('../datasources/all_sales_2020.csv')
print(df.head())

           GARE     No OPERATION  DATE VENTE HEURE VENTE            VENDEUR  \
0  OWENDO VIRIE  G21VY0000037108  01/01/2020       00:00  ARSENE OBAME  MVE
1  OWENDO VIRIE  G21VY0000037112  01/01/2020       00:00  ARSENE OBAME  MVE
2  OWENDO VIRIE  G21VY0000037121  01/01/2020       00:00  ARSENE OBAME  MVE
3  OWENDO VIRIE  G21VY0000037130  01/01/2020       00:00  ARSENE OBAME  MVE
4  OWENDO VIRIE  G21VY0000037151  01/01/2020       00:00  ARSENE OBAME  MVE

  PRESTATION TYPE VENTE ETAT BILLET ETAT VENTE  CSS  ...     HT    TTC  \
0     Billet   MANUELLE         NaN        NaN   95  ...   9496  11300
1     Billet   MANUELLE         NaN        NaN  102  ...  10168  12100
2     Billet   MANUELLE         NaN        NaN   57  ...   5714   6800
3     Billet   MANUELLE         NaN        NaN   92  ...   9244  11000
4     Billet   MANUELLE         NaN        NaN   50  ...   5042   6000

   REDUCTION APPLIQUEE  PAIEMENT No TRAIN        DEPART       ARRIVEE  \
0                  0.0     AGENT      311  OWENDO VIRIE   FRANCEVILLE
1                  0.0    ESPECE      332          AYEM         NTOUM
2                  0.0    ESPECE      332          AYEM  OWENDO VIRIE
3                  0.0    ESPECE      332          AYEM         ANDEM
4                  0.0    ESPECE      332          AYEM         NTOUM

  BON DE COMMANDE CLIENT EN COMPTE SERVICE
0             NaN              NaN     NaN
1             NaN              NaN     NaN
2             NaN              NaN     NaN
3             NaN              NaN     NaN
4             NaN              NaN     NaN

[5 rows x 21 columns]

C:\Users\aly.mboumba\AppData\Local\Temp\ipykernel_54240\126819554.py:2: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../datasources/all_sales_2020.csv')

In [4]:
# Extract data : PRESTATION, HT, PAIEMENT
df_sales1 = df[['PRESTATION', 'HT', 'PAIEMENT']]
print(df_sales1.head())

  PRESTATION     HT PAIEMENT
0     Billet   9496    AGENT
1     Billet  10168   ESPECE
2     Billet   5714   ESPECE
3     Billet   9244   ESPECE
4     Billet   5042   ESPECE

In [6]:
# Maintenant que nous avons nos prestation, les montants hors taxes et les types de paiment
# Nous allons procéder au regoupement des par prestation et par paiement

In [10]:
# Vérifions les différents groups que nous avons : pour PRESTATION & PAIEMENT
print(df_sales1.groupby('PRESTATION').groups.keys())

dict_keys(['Bagage', 'Billet', 'Colis express', 'TAA', 'TF'])

In [11]:
print(df_sales1.groupby('PAIEMENT').groups.keys())

dict_keys(['AGENCE ACCREDITEE', 'AGENT', 'BON DE COMMANDE', 'ESPECE', 'SERVICE'])

In [27]:
# On calcul le montant total HT de chaque prestation
total = df_sales1.groupby('PRESTATION')['HT'].agg([np.sum])
print(total)

                      sum
PRESTATION
Bagage          149947471
Billet         3497033307
Colis express   625687657
TAA             222289764
TF               37743436

C:\Users\aly.mboumba\AppData\Local\Temp\ipykernel_54240\3021970611.py:1: FutureWarning: The provided callable <function sum at 0x00000296EE2EB380> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  total = df_sales1.groupby('PRESTATION')['HT'].agg([np.sum])

In [46]:
# On calcul le montant total ht de chaque paiement
paiement = df_sales1.groupby('PAIEMENT')['HT'].agg([np.sum])
print(paiement)

                          sum
PAIEMENT
AGENCE ACCREDITEE    17081282
AGENT                 2370286
BON DE COMMANDE     127444576
ESPECE             4214004025
SERVICE             171801466

C:\Users\aly.mboumba\AppData\Local\Temp\ipykernel_54240\2628026788.py:2: FutureWarning: The provided callable <function sum at 0x00000296EE2EB380> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  paiement = df_sales1.groupby('PAIEMENT')['HT'].agg([np.sum])